<!-- Generated template for the VotacionPopoverComponent component -->
<ion-list style="margin-bottom: 0px;">
  <ion-item *ngFor="let voto of votos" (click)="votoClick(voto)">
    {{voto.texto}}
  </ion-item>
</ion-list>
