<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row>
        <ion-col align-self-center>{{juego.titulo}}</ion-col>
        <ion-col style="text-align: right" *ngIf="jugando">
          {{numeroDePreguntaMostrada + 1}} / {{juegoCompletoTraido.preguntasJuego.length}}
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button block *ngIf="mostrarBotonEmpezarJuego" large (click)="iniciarJuego()">
    Iniciar Juego
  </button>

  <button ion-button block *ngIf="mostrarMiResultado" large (click)="mostarResultado()">
    Mostrar Resultado
  </button>

  <!--Si es para jugar-->
  <ng-container *ngIf="jugando">
    <ion-grid>
      <ion-row>
        <progress class="progressBar" value="{{temporizador}}" max="15"></progress>
        <!--<h2>{{temporizador}}</h2>-->
      </ion-row>
      <ion-row style="margin-top: 5%;">
          <h4>{{juegoCompletoTraido.preguntasJuego[numeroDePreguntaMostrada].titulo}}</h4>
      </ion-row>
      <ion-row *ngIf="juegoCompletoTraido.preguntasJuego[numeroDePreguntaMostrada].pregunta_imagen != ''">
        <img imageViewer class="pelicula" [src]="juegoCompletoTraido.preguntasJuego[numeroDePreguntaMostrada].pregunta_imagen | safe" />
      </ion-row>
      <ion-row style="margin-top: 5%;">
        <button ion-button full (click)="responderPregunta(opcionesDeRespuestasDivididas[0])">
          {{opcionesDeRespuestasDivididas[0]}}
        </button>
      </ion-row>
      <ion-row style="margin-top: 1%;">
        <button ion-button full (click)="responderPregunta(opcionesDeRespuestasDivididas[1])">
          {{opcionesDeRespuestasDivididas[1]}}
        </button>
      </ion-row>
      <ion-row style="margin-top: 1%;">
        <button ion-button full (click)="responderPregunta(opcionesDeRespuestasDivididas[2])">
          {{opcionesDeRespuestasDivididas[2]}}
        </button>
      </ion-row>
      <ion-row style="margin-top: 1%;">
        <button ion-button full (click)="responderPregunta(opcionesDeRespuestasDivididas[3])">
          {{opcionesDeRespuestasDivididas[3]}}
        </button>
      </ion-row>
    </ion-grid>
  </ng-container>


  <!--Si es para mostrar las respuestas-->
  <ng-container *ngIf="mostarMisRespuestas">
    <ion-grid>
      <ion-row>
          <h3>{{juegoCompletoTraido.preguntasJuego[numeroDePreguntaMostrada].titulo}}</h3>
      </ion-row>
      <ion-row *ngIf="juegoCompletoTraido.preguntasJuego[numeroDePreguntaMostrada].pregunta_imagen != ''">
        <img imageViewer class="pelicula" [src]="juegoCompletoTraido.preguntasJuego[numeroDePreguntaMostrada].pregunta_imagen | safe" />
      </ion-row>
      <ion-row style="margin-top: 5%;padding: 1px">
        <button ion-button [outline]="respuestaOutline(opcionesDeRespuestasDivididas[0])" [color]="obtenerElColorDelBoton(opcionesDeRespuestasDivididas[0])" block >
          {{opcionesDeRespuestasDivididas[0]}}
        </button>
      </ion-row>
      <ion-row style="margin-top: 1%;padding: 1px">
        <button ion-button [outline]="respuestaOutline(opcionesDeRespuestasDivididas[1])" [color]="obtenerElColorDelBoton(opcionesDeRespuestasDivididas[1])" block>
          {{opcionesDeRespuestasDivididas[1]}}
        </button>
      </ion-row>
      <ion-row style="margin-top: 1%;padding: 1px">
        <button ion-button [outline]="respuestaOutline(opcionesDeRespuestasDivididas[2])" [color]="obtenerElColorDelBoton(opcionesDeRespuestasDivididas[2])" block>
          {{opcionesDeRespuestasDivididas[2]}}
        </button>
      </ion-row>
      <ion-row style="margin-top: 1%;padding: 1px">
        <button ion-button [outline]="respuestaOutline(opcionesDeRespuestasDivididas[3])" [color]="obtenerElColorDelBoton(opcionesDeRespuestasDivididas[3])" block>
          {{opcionesDeRespuestasDivididas[3]}}
        </button>
      </ion-row>
    </ion-grid>
    <ion-footer no-border>
      <ion-row>
        <ion-col>
          <button [disabled]="numeroDePreguntaMostrada==0" ion-button block (click)="preguntaAnterior()">Anterior</button>
        </ion-col>
        <ion-col>
          <button [disabled]="(juegoCompletoTraido.preguntasJuego.length -1) == numeroDePreguntaMostrada" ion-button block (click)="siguientePregunta()">Siguiente</button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ng-container>

</ion-content>
