<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doLogin()" [formGroup]="loginForm">
    <ion-list>

      <ion-item>
        <ion-label stacked>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username" formControlName="username" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" formControlName="password" placeholder="">
        </ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block
          [disabled]="loginForm.invalid">{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
