<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()" style="margin-left: 1rem;">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{serie.titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="no-padding">
    <ion-row class="no-padding">
      <h3 style="margin: 0px;">{{serie.titulo}}</h3>
    </ion-row>
    <ion-row class="no-padding">
      <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{serieTraida.fechaEstreno | fecha}})
      </p>
    </ion-row>
    <ion-row class="no-padding">
      <ion-col class="no-padding" style="text-align: center;" col-6>
        <img imageViewer class="serie" [src]="serie.poster | safe" />
        <button ion-button clear style="margin:0px" (click)="cambiarMostrarTrailer()">Ver trailer</button>
      </ion-col>
      <ion-col col-6>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>{{serieTraida.votacionMedia}}</h1>
            </ion-col>
            <ion-col>
              <span class="cuantosUsuarios">{{serieTraida.numVotantes}}</span>
              <ion-icon name="md-people"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="serieTraida.tuVoto>=0" text-center>
            <ion-col>
              <button ion-button>{{serieTraida.tuVoto}}</button>
            </ion-col>
            <ion-col align-self-center>
              <p style="margin:0px;">Tu votacion media</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="serieTraida.tuVoto<0" text-center>
            <ion-col text-center>
              <button ion-button (click)="pulsarEnBotonVotar()">Votar</button>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col *ngFor="let distribuidora of serieTraida.distribuidoras" col-auto text-center>
              <button *ngIf="distribuidora=='Netflix'" class="distribuidora"
                (click)="abrirDistribuidora('https://www.netflix.com/')">
                <img src="assets/img/distribuidoras/netflix-icon.png">
              </button>
              <button *ngIf="distribuidora=='HBO'" class="distribuidora"
                (click)="abrirDistribuidora('https://es.hboespana.com/')">
                <img src="assets/img/distribuidoras/hbo-icon.png">
              </button>
              <button *ngIf="distribuidora=='Prime'" class="distribuidora"
                (click)="abrirDistribuidora('https://www.primevideo.com/')">
                <img src="assets/img/distribuidoras/prime-icon.png">
              </button>
              <button *ngIf="distribuidora=='Disney'" class="distribuidora"
                (click)="abrirDistribuidora('https://www.disneyplus.com/')">
                <img src="assets/img/distribuidoras/disney+-icon.png">
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarTrailer" class="no-padding">
      <iframe width="100%" height="200" [src]="sanitize(serieTraida.trailer)" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-row>
    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Temporadas</p>
        </ion-card-header>
        <ion-card-content style="padding-left: 3px;padding-right: 3px;">
          <ion-card *ngFor="let temporada of serieTraida.temporadas; let i = index">
            <ion-card-header style="padding: 10px;" (click)="mostrarOcultarCapitulos(i)">
              <ion-row class="no-padding">
                <ion-col col-7 class="no-padding">
                  <p class="no-padding tituloTemporada">Temporada {{temporada.numTemporada}}</p>
                  <span class="capitulosTemporada">(Nº Caps: {{temporada.cuantosCapitulosEnLaTemporada}})</span>
                </ion-col>
                <ion-col col-4 class="no-padding" style="text-align: center;">
                  <h1 style="display: inline-block;">{{temporada.votacionMedia}}</h1>
                  <span class="cuantosUsuarios">{{temporada.numVotaciones}}</span>
                  <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                </ion-col>
                <ion-col col-1 class="no-padding" style="text-align: center;">
                  <ion-icon *ngIf="!this.temporadasDesplegadas[i]" class="iconoFlecha" name="ios-arrow-dropright">
                  </ion-icon>
                  <ion-icon *ngIf="this.temporadasDesplegadas[i]" class="iconoFlecha" name="ios-arrow-dropdown">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content class="no-padding" *ngIf="this.temporadasDesplegadas[i]">
              <ion-card *ngFor="let capitulo of serieTraida.temporadas[i].capitulosTemporada">
                <ion-card-header>
                  <p>
                    {{temporada.numTemporada | numeroTemporadaCapitulo}}x{{capitulo.numero_capitulo | numeroTemporadaCapitulo}}
                    {{capitulo.titulo_capitulo}}</p>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid class="no-padding">
                    <ion-row class="no-padding">
                      <ion-col align-self-center col-3 class="no-padding" style="text-align: center;">
                        <h1 style="display: inline-block;">{{capitulo.votacionMedia}}</h1>
                        <span class="cuantosUsuarios">{{capitulo.numVotaciones}}</span>
                        <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                      </ion-col>
                      <ion-col col-9 class="no-padding" style="text-align: center;">
                        <ion-row class="no-padding" style="text-align: center;">
                          <button ion-button *ngIf="capitulo.tuVoto<0" (click)="votar(temporada.numTemporada, capitulo)">Votar</button>
                          <ion-grid class="no-padding" style="width: fit-content" *ngIf="capitulo.tuVoto>=0" (click)="votar(temporada.numTemporada, capitulo)">
                            <ion-row class="no-padding" style="width: fit-content">
                              <ion-col class="no-padding" col-auto>
                                <button ion-button>{{capitulo.tuVoto}}</button>
                              </ion-col>
                              <ion-col class="no-padding" align-self-center col-auto>
                                <p style="margin:0px;">Tu voto</p>
                                <p style="margin:0px; font-size: 11px">({{capitulo.fechatuVoto | fecha}})</p>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                          <button ion-button icon-only (click)="comentarCapituloSerie(capitulo)">
                            <ion-icon style="font-size: 2.2em;" name="ios-text-outline"></ion-icon>
                          </button>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Sinopsis</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{serieTraida.sinopsis}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Duración por capitulo</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{serieTraida.duracion}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Dirección</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{serieTraida.direccion}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Reparto</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{serieTraida.reparto}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Género</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{serieTraida.genero}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Votaciones medias de amigos</p>
        </ion-card-header>
        <ion-card-content>
          <h2 class="mensajeNoSeries" *ngIf="serieTraida.cuantosAmigosHanVotadoLaSerie==0">Tus amigos no han
            votado esta serie.
          </h2>

          <ng-container
            *ngFor="let amigoQueHaVotado of serieTraida.votacionesAmigos | paginate: { id: serie.titulo,itemsPerPage: cuantasVotacionesAmigosPorPagina, currentPage: paginaActualSeriesVotadas, totalItems: serieTraida.cuantosAmigosHanVotadoLaSerie }">
            <item-amigo-votado-serie [amigo]="amigoQueHaVotado"></item-amigo-votado-serie>
          </ng-container>

          <ng-container *ngIf="!(serieTraida.cuantosAmigosHanVotadoLaSerie==0)" style="text-align: center;">
            <pagination-controls previousLabel="Anterior" id="{{serie.titulo}}" nextLabel="Siguiente" responisve="true"
              (pageChange)="cambiarPaginaVotacionesDeAmigo($event)"></pagination-controls>
          </ng-container>

        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Comentarios de amigos</p>
        </ion-card-header>
        <ion-card-content>
          <h2 class="mensajeNoSeries" *ngIf="serieTraida.cuantosAmigosHanComentadoLaSerie==0">Tus amigos no han
            comentado esta serie.
          </h2>

          <ng-container
            *ngFor="let amigoQueHacomentado of serieTraida.comentariosAmigos | paginate: { id: serie.titulo + 'comentario',itemsPerPage: cuantosComentariosAmigosPorPagina, currentPage: paginaActualSeriesComentario, totalItems: serieTraida.cuantosAmigosHanComentadoLaSerie }">
            <item-amigo-comentario-serie [amigo]="amigoQueHacomentado"></item-amigo-comentario-serie>
          </ng-container>

          <ng-container *ngIf="!(serieTraida.cuantosAmigosHanComentadoLaSerie==0)" style="text-align: center;">
            <pagination-controls previousLabel="Anterior" id="{{serie.titulo}}comentario" nextLabel="Siguiente"
              responisve="true" (pageChange)="cambiarPaginaComentariosDeAmigos($event)"></pagination-controls>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
