page-serie {
  .fechaVotacion {
    font-size: 11px;
  }

  .cuerpoCampo {
    font-size: 14px;
  }

  .tituloCampo {
    font-size: 17px;
    font-weight: bold;
  }

  .tituloTemporada {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
  }

  .distribuidora {
    background-color: transparent;
    width: 4em;
    height: 4em;
  }

  .capitulosTemporada {
    font-size: 9px;
  }

  .cuantosUsuarios {
    font-size: 11px;
  }

  .iconoFlecha{
    color:color($colors, primary);
    font-size: 30px;
  }
}
