<ion-card style="margin-left: 0px;margin-right: 0px !important;margin-top: 0px !important;width: 100%;" class="no-padding">
  
 <ion-grid class="no-padding">
    <ion-row class="no-padding">
      <ion-col (click)="abrirPelicula()" class="no-padding" col-4>
        <img class="pelicula" [src]="pelicula.poster | safe" />
      </ion-col>
      <ion-col style="padding-left: 5px!important;padding-right: 5px!important;" class="no-padding" col-8>
        <ion-grid class="no-padding">
          <ion-row (click)="abrirPelicula()" class="no-padding">
            <div>
              <p class="titulo">
                {{pelicula.titulo}}
                <span class="fechaEstreno"> ({{pelicula.fechaEstreno |fecha}})</span>
              </p>
            </div>
          </ion-row>
          <ion-row (click)="abrirPelicula()" *ngIf="pelicula.comentarioUsuario.length <= 70">
            <p style="margin-top: 10px;">{{pelicula.comentarioUsuario}}</p>
          </ion-row>
          <ion-row (click)="verComentarioCompleto()" *ngIf="pelicula.comentarioUsuario.length > 70">
            <p style="margin-top: 10px;">{{pelicula.comentarioUsuario | acortarComentarios}}<span style="margin-top: 0px; margin-bottom: 0px; color:blue!important;"> ...Leer más</span></p>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="fechaVotacion">
                {{pelicula.fechaComentario | fecha}}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
