
  <ion-header>
    <ion-navbar>
      <ion-title>
        <ion-row>
          <ion-col align-self-center>
            <ion-title>{{ 'PAGINAS.PERFIL.MI_PERFIL' | translate }}</ion-title>
          </ion-col>
          <ion-col style="text-align: right">
            <button style="margin: 0px;" ion-button item-end icon-only clear (click)="darDeBajaUnUsuario()">
              <ion-icon color="danger" name="ios-trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-row>
      <ion-col class="col-foto" col-12 text-center>
        <ng-container>
          <img imageViewer class="user-avatar round" width="150px" height="150px" [src]="avatar | safe" />
        </ng-container>
        <button class="boton-foto" ion-button color="transparent" (click)="abirDialogoModificarFoto()">
          <ion-icon style="font-size: 30px;" name="image" md="ios-image"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <!-- TODO PONER LAS TRADUCCIONES -->
    <ion-card>
      <ion-card-header text-center>
        {{ 'PAGINAS.PERFIL.CAMBIO_DE_PASS' | translate }}
      </ion-card-header>

      <ion-card-content>
        <form novalidate (ngSubmit)="cambiarPassword()" [formGroup]="cambioPassForm">
          <ion-list>

            <ion-item>
              <ion-label stacked>{{ 'PAGINAS.PERFIL.PASS_ACTUAL' | translate }}</ion-label>
              <ion-input type="password" formControlName="passActual" style="border-bottom: 1px solid" placeholder="">
              </ion-input>
            </ion-item>
            <ion-item no-lines
              *ngIf="cambioPassForm.get('passActual').hasError('required') && cambioPassForm.get('passActual').touched">
              <div class="error"
                *ngIf="cambioPassForm.get('passActual').hasError('required') && cambioPassForm.get('passActual').touched">
                {{ 'PAGINAS.PERFIL.CAMPO_NO_VACIO' | translate }}
              </div>
            </ion-item>

            
            <ion-item>
              <ion-label stacked>{{ 'PAGINAS.PERFIL.NUEVA_PASS' | translate }}</ion-label>
              <ion-input type="password" formControlName="passNueva" style="border-bottom: 1px solid"
                placeholder="{{ 'PAGINAS.REGISTRO.PLACEHOLDER_PASS' | translate }}"></ion-input>
            </ion-item>
            <ion-item no-lines
              *ngIf="(cambioPassForm.get('passNueva').hasError('pattern') || cambioPassForm.get('passNueva').hasError('required')) && cambioPassForm.get('passNueva').touched">
              <div class="error"
                *ngIf="cambioPassForm.get('passNueva').hasError('pattern') && cambioPassForm.get('passNueva').touched">
                {{ 'PAGINAS.REGISTRO.PASSWORD_PATTERN' | translate }}
              </div>
              <div class="error"
                *ngIf="cambioPassForm.get('passNueva').hasError('required') && cambioPassForm.get('passNueva').touched">
                {{ 'PAGINAS.PERFIL.CAMPO_NO_VACIO' | translate }}
              </div>
            </ion-item>


            <ion-item>
              <ion-label stacked>{{ 'PAGINAS.PERFIL.REPITA_PASS' | translate }}</ion-label>
              <ion-input type="password" formControlName="passRepetir" style="border-bottom: 1px solid" placeholder="">
              </ion-input>
            </ion-item>
            <ion-item no-lines
              *ngIf="cambioPassForm.get('passRepetir').hasError('required') && cambioPassForm.get('passRepetir').touched">
              <div class="error"
                *ngIf="cambioPassForm.get('passRepetir').hasError('required') && cambioPassForm.get('passRepetir').touched">
                {{ 'PAGINAS.PERFIL.CAMPO_NO_VACIO' | translate }}
              </div>
            </ion-item>

            <ion-item>
              <button ion-button color="primary" round icon-start block [disabled]="cambioPassForm.invalid">
                <ion-icon name='md-refresh' is-active="false"></ion-icon>
                {{ 'PAGINAS.PERFIL.BTN_ACTUALIZAR_PASS' | translate }}
              </button>
            </ion-item>
          </ion-list>
        </form>

      </ion-card-content>
    </ion-card>
    
  </ion-content>
