elemento-timeline {
  .imagenAvatar {
    width: 50px !important;
    height: 50px !important;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
  }

  .poster {
    height: 150px;
    max-width: 100px;
    border-radius: 10px;
  }

  .nuevo-poster {
    height: 200px;
    
    border-radius: 10px;
  }
}
