<!--miVotoPelicula-->
<ion-card *ngIf="elemento.tipoElemento == 'miVotoPelicula'">
  <ion-card-header>
    <ion-row (click)="irAPerfilMio(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding" (click)="irAPelicula(elemento)">
        <ion-col class="no-padding" col-5>
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding">
              <p>Has votado la película <strong>{{elemento.tituloSeriePelicula}}</strong> con un:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;">
              <h1>{{elemento.votoCapituloSeriePelicula}}</h1>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--miVotoCapituloSerie-->
<ion-card *ngIf="elemento.tipoElemento == 'miVotoCapituloSerie'">
  <ion-card-header>
    <ion-row (click)="irAPerfilMio(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding" (click)="irASerie(elemento)">
        <ion-col class="no-padding" col-5>
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding">
              <p>Has votado el capitulo <strong>{{elemento.comentario}}</strong> de la serie
                <strong>{{elemento.tituloSeriePelicula}}</strong> con un:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;">
              <h1>{{elemento.votoCapituloSeriePelicula}}</h1>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--miComentarioPelicula-->
<ion-card *ngIf="elemento.tipoElemento == 'miComentarioPelicula'">
  <ion-card-header>
    <ion-row (click)="irAPerfilMio(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col class="no-padding" col-5 (click)="irAPelicula(elemento)">
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding" (click)="irAPelicula(elemento)">
              <p>Has comentado la película <strong>{{elemento.tituloSeriePelicula}}</strong>:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length <= 70" (click)="irAPelicula(elemento)">
              <p>"{{elemento.comentarioCapituloPelicula}}"</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length > 70"
              (click)="verComentarioCompleto(elemento.comentarioCapituloPelicula)">
              <p>"{{elemento.comentarioCapituloPelicula | acortarComentarios }}" <span
                  style="margin-top: 0px; margin-bottom: 0px; color:blue!important;"> ...Leer más</span></p>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--miComentarioCapituloSerie-->
<ion-card *ngIf="elemento.tipoElemento == 'miComentarioCapituloSerie'">
  <ion-card-header>
    <ion-row (click)="irAPerfilMio(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col class="no-padding" col-5 (click)="irASerie(elemento)">
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding" (click)="irASerie(elemento)">
              <p>Has comentado el capitulo <strong>{{elemento.comentario}}</strong> de la serie
                <strong>{{elemento.tituloSeriePelicula}}</strong>:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length <= 70" (click)="irASerie(elemento)">
              <p>"{{elemento.comentarioCapituloPelicula}}"</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length > 70"
              (click)="verComentarioCompleto(elemento.comentarioCapituloPelicula)">
              <p>"{{elemento.comentarioCapituloPelicula | acortarComentarios }}" <span
                  style="margin-top: 0px; margin-bottom: 0px; color:blue!important;"> ...Leer más</span></p>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--miParticipacionJuego-->
<ion-card *ngIf="elemento.tipoElemento == 'miParticipacionJuego'">
  <ion-card-header>
    <ion-row (click)="irAPerfilMio(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        Has conseguido una puntuacion de {{elemento.comentarioCapituloPelicula}} en el juego
        {{elemento.tituloSeriePelicula}}
      </ion-row>
      <ion-row style="margin-top: 10%;">
        <button ion-button block (click)="abrirJuego(elemento)">Ir al juego</button>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--amigosVotoPelicula-->
<ion-card *ngIf="elemento.tipoElemento == 'amigosVotoPelicula'">
  <ion-card-header>
    <ion-row (click)="irAPerfilAmigo(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding" (click)="irAPelicula(elemento)">
        <ion-col class="no-padding" col-5>
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding">
              <p>Ha votado la película <strong>{{elemento.tituloSeriePelicula}}</strong> con un:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;">
              <h1>{{elemento.votoCapituloSeriePelicula}}</h1>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--amigosVotoCapituloSerie-->
<ion-card *ngIf="elemento.tipoElemento == 'amigosVotoCapituloSerie'">
  <ion-card-header>
    <ion-row (click)="irAPerfilAmigo(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding" (click)="irASerie(elemento)">
        <ion-col class="no-padding" col-5>
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding">
              <p>Ha votado el capitulo <strong>{{elemento.comentario}}</strong> de la serie
                <strong>{{elemento.tituloSeriePelicula}}</strong> con un:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;">
              <h1>{{elemento.votoCapituloSeriePelicula}}</h1>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--amigosComentarioPelicula-->
<ion-card *ngIf="elemento.tipoElemento == 'amigosComentarioPelicula'">
  <ion-card-header>
    <ion-row (click)="irAPerfilAmigo(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col class="no-padding" col-5 (click)="irAPelicula(elemento)">
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding" (click)="irAPelicula(elemento)">
              <p>Ha comentado la película <strong>{{elemento.tituloSeriePelicula}}</strong>:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length <= 70" (click)="irAPelicula(elemento)">
              <p>"{{elemento.comentarioCapituloPelicula}}"</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length > 70"
              (click)="verComentarioCompleto(elemento.comentarioCapituloPelicula)">
              <p>"{{elemento.comentarioCapituloPelicula | acortarComentarios }}" <span
                  style="margin-top: 0px; margin-bottom: 0px; color:blue!important;"> ...Leer más</span></p>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--amigosComentarioCapituloSerie-->
<ion-card *ngIf="elemento.tipoElemento == 'amigosComentarioCapituloSerie'">
  <ion-card-header>
    <ion-row (click)="irAPerfilAmigo(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col class="no-padding" col-5 (click)="irASerie(elemento)">
          <img class="poster" [src]="elemento.poster | safe" />
        </ion-col>
        <ion-col col-7 class="no-padding">
          <ion-grid class="no-padding" style="height: 100%;">
            <ion-row style="height: fit-content;" class="no-padding" (click)="irASerie(elemento)">
              <p>Ha comentado el capitulo <strong>{{elemento.comentario}}</strong> de la serie
                <strong>{{elemento.tituloSeriePelicula}}</strong>:</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length <= 70" (click)="irASerie(elemento)">
              <p>"{{elemento.comentarioCapituloPelicula}}"</p>
            </ion-row>
            <ion-row style="height: 100%;align-items: center;align-self: center;"
              *ngIf="elemento.comentarioCapituloPelicula.length > 70"
              (click)="verComentarioCompleto(elemento.comentarioCapituloPelicula)">
              <p>"{{elemento.comentarioCapituloPelicula | acortarComentarios }}" <span
                  style="margin-top: 0px; margin-bottom: 0px; color:blue!important;"> ...Leer más</span></p>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>




<!--amigosParticipacionJuegos-->
<ion-card *ngIf="elemento.tipoElemento == 'amigosParticipacionJuegos'">
  <ion-card-header>
    <ion-row (click)="irAPerfilAmigo(elemento)">
      <ion-col col-auto align-self-center class="no-padding">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="elemento.imagenUser | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{elemento.nombreUsuario}}
      </ion-col>
      <ion-col align-self-center col-auto>
        <p style="height: fit-content;font-size: 9px;">
          {{elemento.fecha | fecha}}
          <br>
          {{elemento.fecha | hora}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        Ha conseguido una puntuacion de {{elemento.comentarioCapituloPelicula}} en el juego
        {{elemento.tituloSeriePelicula}}
      </ion-row>
      <ion-row style="margin-top: 10%;">
        <button ion-button block (click)="abrirJuego(elemento)">Ir al juego</button>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


<!--nuevaPeliculaDisponible-->
<ng-container *ngIf="elemento.tipoElemento == 'nuevaPeliculaDisponible'">
  <ion-grid style="padding-left: 15px;padding-right: 15px;">
    <ion-row (click)="irAPelicula(elemento)">
      <ion-col col-6>
        <img class="nuevo-poster" [src]="elemento.poster | safe" />
      </ion-col>
      <ion-col col-6>
        <ion-grid style="height: 100%;">
          <ion-row style="height: 100%;align-items: center;align-self: center;">
            <h3><strong>{{elemento.tituloSeriePelicula}}</strong></h3>
          </ion-row>
          <ion-row style="height: fit-content;align-items: center;align-self: center;">
            <p>Ya está disponible</p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>


<!--nuevoCapituloDisponible-->
<ng-container *ngIf="elemento.tipoElemento == 'nuevoCapituloDisponible'">
  <ion-grid style="padding-left: 15px;padding-right: 15px;">
    <ion-row (click)="irASerie(elemento)">
      <ion-col col-6>
        <img class="nuevo-poster" [src]="elemento.poster | safe" />
      </ion-col>
      <ion-col col-6>
        <ion-grid style="height: 100%;">
          <ion-row style="height: 100%;align-items: center;align-self: center;">
            <h3><strong>{{elemento.tituloSeriePelicula}}</strong> <br><br>
              <strong>{{elemento.comentario}}</strong>
            </h3>
          </ion-row>
          <ion-row style="height: fit-content;align-items: center;align-self: center;">
            <p>Ya está disponible</p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<!--nuevoJuegoDisponible-->
<ng-container *ngIf="elemento.tipoElemento == 'nuevoJuegoDisponible'">
  <ion-grid style="padding-left: 15px;padding-right: 15px;">
    <ion-row (click)="irASerie(elemento)" align-self-center>
      <ion-col col-auto>
        <ion-icon style="font-size: 200%;" name="md-trophy" color="warning"></ion-icon>
      </ion-col>
      <ion-col >
        <h2 style="width: 100%; text-align: center;"><strong>Nuevo Juego</strong></h2>
      </ion-col>
      <ion-col col-auto>
        <ion-icon style="font-size: 200%;" name="md-trophy" color="warning"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <h1 style="width: 100%; text-align: center;margin-bottom: 3px;">{{elemento.tituloSeriePelicula}}</h1>
      <p style="width: 100%; text-align: center;margin: 0px;">Dificultad: {{elemento.comentario}}</p>
    </ion-row>
    <ion-row style="margin-top: 5%;" text-center>
      <button ion-button large block (click)="abrirJuego(elemento)">Ir al juego</button>
    </ion-row>
  </ion-grid>
</ng-container>
