<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row>
        <ion-col align-self-center>Juegos</ion-col>
        <ion-col style="text-align: right">
          <button style="margin: 0px;" ion-button item-end *ngIf="ventana == 'juegos'" icon-only clear (click)="mostrarReglas()">
            <ion-icon name="ios-information-circle-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="ventana">
      <ion-segment-button value="ranking" (click)="traerRankingDeJugadores()">
        Ranking de jugadores
      </ion-segment-button>
      <ion-segment-button value="juegos" (click)="devolverTodosLosJuegos()">
        Juegos
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="ventana">
    <ion-list *ngSwitchCase="'juegos'">
      <ion-card *ngFor="let juego of listadoDeJuegos; let i = index" (click)="abrirUnJuego(juego)">
        <ion-card-header style="text-align: center;padding-bottom: 0px;">
         {{juego.titulo}}
         <p>Dificultad: {{juego.dificultad}}</p>
        </ion-card-header>
        <ion-card-content *ngIf="juego.miFechaParticipacion != null" >
          <ion-grid>
            <ion-row>
              <ion-col col-7 style="text-align: center;">
                Tu puntuación: {{juego.miPuntuacion}}
              </ion-col>
              <ion-col col-5 style="text-align: right;">
                {{juego.miFechaParticipacion | fecha}}
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-card-content>
      </ion-card>
    </ion-list>



    
    <ion-list style="height: 100%; padding-top: 5%;" *ngSwitchCase="'ranking'">
      <ion-grid style="height: 100%; margin-top: 35%;" *ngIf="rankingDeJugadores == null" padding>
        <h3>Aún no ha participado nadie</h3>
      </ion-grid>
      <ng-container *ngIf="rankingDeJugadores != null">
        <ion-item style="text-align: center;" *ngFor="let jugador of rankingDeJugadores; let i = index">
          <h1>#{{i+1}} {{jugador.username}} {{jugador.puntosTotales}}</h1>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>

  <ion-infinite-scroll *ngIf="rankingDeJugadores != null && ventana=='ranking'" (ionInfinite)="$event.waitFor(doUsuariosInfinite($event))">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más jugadores del ranking">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
