<ion-card (click)="irAPerfil()">
  <ion-grid>
    <ion-row>
      <ion-col col-auto align-self-center>
        <img class="imagenAvatar round" width="50px" height="50px" [src]="amigoQueHaVotado.avatar | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{amigoQueHaVotado.username}}
      </ion-col>
      <ion-col col-3 align-self-center class="alineadoCentro">
        <h2 style="text-align: center;">{{amigoQueHaVotado.voto}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
