<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-auto align-self-center>
        <img class="imagenAvatar round" width="50px" height="50px" [src]="usuario.avatar | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{usuario.username}}
      </ion-col>
      <ion-col col-3 align-self-center class="alineadoCentro">
        <button ion-button clear icon-only round (click)="mandarPeticionAmistad()">
          <ion-icon name="person-add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
