item-busqueda-usuario {
    .alineadoCentro {
        text-align: center;
      }
    
      .imagenAvatar {
        width: 50px !important;
        height: 50px !important;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
      }
}
