page-pelicula {

    .fechaVotacion{
        font-size: 11px;
    }

    .cuerpoCampo{
        font-size: 14px;
    }

    .tituloCampo{
        font-size: 17px;
        font-weight: bold;
    }

    .distribuidora{
        background-color: transparent;
        width: 4em;
        height: 4em;
    }
}
