<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()" style="margin-left: 1rem;">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{pelicula.titulo}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="comentarPelicula()">
        <ion-icon style="font-size: 2.2em;" name="ios-text-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="no-padding">
    <ion-row class="no-padding">
      <h3 style="margin: 0px;">{{pelicula.titulo}}</h3>
    </ion-row>
    <ion-row class="no-padding">
      <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{peliculaTraida.fechaEstreno | fecha}})
      </p>
    </ion-row>
    <ion-row class="no-padding">
      <ion-col class="no-padding" style="text-align: center;" col-6>
        <img imageViewer class="pelicula" [src]="pelicula.poster | safe" />
        <button ion-button clear style="margin:0px" (click)="cambiarMostrarTrailer()">Ver trailer</button>
      </ion-col>
      <ion-col col-6>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>{{peliculaTraida.votacionMedia}}</h1>
            </ion-col>
            <ion-col>
              <span class="cuantosUsuarios">{{peliculaTraida.numVotantes}}</span>
              <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="peliculaTraida.tuVoto>=0" text-center (click)="votar($event)">
            <ion-col>
              <button ion-button>{{peliculaTraida.tuVoto}}</button>
            </ion-col>
            <ion-col align-self-center>
              <p style="margin:0px;">Tu voto</p>
              <p style="margin:0px; font-size: 11px">({{peliculaTraida.fechatuVoto | fecha}})</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="peliculaTraida.tuVoto<0" text-center (click)="votar($event)">
            <ion-col text-center>
              <button ion-button>Votar</button>
            </ion-col>
          </ion-row>
          <ion-row  text-center>
            <ion-col *ngFor="let distribuidora of peliculaTraida.distribuidoras" col-auto text-center>
              <button *ngIf="distribuidora=='Netflix'" class="distribuidora" (click)="abrirDistribuidora('https://www.netflix.com/')">
                <img src="assets/img/distribuidoras/netflix-icon.png">
              </button>
              <button *ngIf="distribuidora=='HBO'" class="distribuidora" (click)="abrirDistribuidora('https://es.hboespana.com/')">
                <img src="assets/img/distribuidoras/hbo-icon.png">
              </button>
              <button *ngIf="distribuidora=='Prime'" class="distribuidora" (click)="abrirDistribuidora('https://www.primevideo.com/')">
                <img src="assets/img/distribuidoras/prime-icon.png">
              </button>
              <button *ngIf="distribuidora=='Disney'" class="distribuidora" (click)="abrirDistribuidora('https://www.disneyplus.com/')">
                <img src="assets/img/distribuidoras/disney+-icon.png">
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mostrarTrailer" class="no-padding">
      <iframe width="100%" height="200" [src]="sanitize(peliculaTraida.trailer)" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-row>
    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Sinopsis</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{peliculaTraida.sinopsis}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Duración</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{peliculaTraida.duracion}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Dirección</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{peliculaTraida.direccion}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Reparto</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{peliculaTraida.reparto}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Género</p>
        </ion-card-header>
        <ion-card-content>
          <p class="cuerpoCampo">{{peliculaTraida.genero}}</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Votaciones de amigos</p>
        </ion-card-header>
        <ion-card-content>
          <h2 class="mensajeNoPeliculas" *ngIf="peliculaTraida.cuantosAmigosHanVotadoLaPelicula==0">Tus amigos no han
            votado esta película.
          </h2>

          <ng-container
            *ngFor="let amigoQueHaVotado of peliculaTraida.votacionesAmigos | paginate: { id: pelicula.titulo,itemsPerPage: cuantasVotacionesAmigosPorPagina, currentPage: paginaActualPeliculasVotadas, totalItems: peliculaTraida.cuantosAmigosHanVotadoLaPelicula }">
            <item-amigo-votado-pelicula [amigo]="amigoQueHaVotado"></item-amigo-votado-pelicula>
          </ng-container>

          <ng-container *ngIf="!(peliculaTraida.cuantosAmigosHanVotadoLaPelicula==0)" style="text-align: center;">
            <pagination-controls previousLabel="Anterior" id="{{pelicula.titulo}}" nextLabel="Siguiente"
              responisve="true" (pageChange)="cambiarPaginaVotacionesDeAmigo($event)"></pagination-controls>
          </ng-container>

        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row class="no-padding">
      <ion-card style="margin-left: 0px; margin-right: 0px !important; width: 100%;">
        <ion-card-header>
          <p class="no-padding tituloCampo">Comentarios de amigos</p>
        </ion-card-header>
        <ion-card-content>
          <h2 class="mensajeNoPeliculas" *ngIf="peliculaTraida.cuantosAmigosHanComentadoLaPelicula==0">Tus amigos no han
            comentado esta película.
          </h2>

          <ng-container
            *ngFor="let amigoQueHacomentado of peliculaTraida.comentariosAmigos | paginate: { id: pelicula.titulo + 'comentario',itemsPerPage: cuantosComentariosAmigosPorPagina, currentPage: paginaActualPeliculasComentario, totalItems: peliculaTraida.cuantosAmigosHanComentadoLaPelicula }">
            <item-amigo-comentario-pelicula [amigo]="amigoQueHacomentado"></item-amigo-comentario-pelicula>
          </ng-container>

          <ng-container *ngIf="!(peliculaTraida.cuantosAmigosHanComentadoLaPelicula==0)" style="text-align: center;">
            <pagination-controls previousLabel="Anterior" id="{{pelicula.titulo}}comentario" nextLabel="Siguiente"
              responisve="true" (pageChange)="cambiarPaginaComentariosDeAmigos($event)"></pagination-controls>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
