<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PAGINAS.AMISTADES.AMIGOS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <ion-searchbar #busquedaUsuario class="barraBusqueda" placeholder="{{ 'PAGINAS.AMISTADES.BUSCAR_USUARIOS' | translate }}"
    (ionClear)="limpiarFiltroBusquedaUsuarios($event)" style="height: 15px;" (ionInput)="buscarUsuarios($event)">
  </ion-searchbar>

  <ng-container *ngIf="usuarioBuscado.length > 0 && usuarioBuscado != 'undefined'">
    <h3 *ngIf="usuariosBuscados.length==0">{{ 'PAGINAS.AMISTADES.USUARIO_NO_ENCONTRADO' | translate }}</h3>
    <ng-container *ngFor="let usuarioBuscado of usuariosBuscados">

      <item-busqueda-usuario *ngIf="usuarioBuscado.tipo == 'usuario'" [usuario]="usuarioBuscado" (peticionEnviadaEmitter)="actualizarPagina()">
      </item-busqueda-usuario>

      <peticion-amistad-recibida *ngIf="usuarioBuscado.tipo == 'peticionAmistadRecibida'" [peticion]="usuarioBuscado" (aceptadaRechazadaEmitter)="actualizarPagina()">
      </peticion-amistad-recibida>

      <peticion-amistad-enviada *ngIf="usuarioBuscado.tipo == 'peticionAmistadEnviada'" [peticion]="usuarioBuscado" (canceladaEmitter)="actualizarPagina()">
      </peticion-amistad-enviada>

      <item-amigo *ngIf="usuarioBuscado.tipo == 'amigo'" [amistad]="usuarioBuscado" (amistadEliminadaEmitter)="actualizarPagina()"></item-amigo>

    </ng-container>
  </ng-container>

  <ng-container *ngIf="usuarioBuscado.length == 0 || usuarioBuscado == 'undefined'">
    <h3 *ngIf="peticionesAmistadRecibidas.length > 0">
      {{ 'PAGINAS.AMISTADES.PETICIONES_RECIBIDAS' | translate }}
    </h3>
    <ng-container *ngFor="let peticion of peticionesAmistadRecibidas">
      <peticion-amistad-recibida [peticion]="peticion" (aceptadaRechazadaEmitter)="actualizarPagina()">
      </peticion-amistad-recibida>
    </ng-container>

    <h3 *ngIf="peticionesAmistadEnviadas.length > 0">
      {{ 'PAGINAS.AMISTADES.PETICIONES_ENVIADAS' | translate }}
    </h3>
    <ng-container *ngFor="let peticionEnviada of peticionesAmistadEnviadas">
      <peticion-amistad-enviada [peticion]="peticionEnviada" (canceladaEmitter)="actualizarPagina()">
      </peticion-amistad-enviada>
    </ng-container>

    <ion-row *ngIf="amistadesOriginal.length > 0">
      <ion-col col-auto align-self-center>
        <h3 class="tituloCategoria">
          {{ 'PAGINAS.AMISTADES.MIS_AMIGOS' | translate }}
        </h3>
      </ion-col>
      <ion-col align-self-center>
        <ion-searchbar placeholder="{{ 'PAGINAS.AMISTADES.BUSCAR' | translate }}"
          (ionClear)="limpiarFiltroBusquedaAmistades($event)" style="height: 15px;"
          (ionInput)="filtrarAmistades($event)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let amistad of amistades">
      <item-amigo [amistad]="amistad" (amistadEliminadaEmitter)="actualizarPagina()"></item-amigo>
    </ng-container>
  </ng-container>

</ion-content>
