<ion-card (click)="abrirPelicula()">
  <ion-grid class="no-padding">
    <ion-row class="no-padding">
      <ion-col class="no-padding" style="text-align: center;" col-3>
        <img imageViewer class="pelicula" [src]="pelicula.poster | safe" />
      </ion-col>
      <ion-col col-9>
        <ion-grid>
          <ion-row class="no-padding">
            <h2 style="margin: 0px;">{{pelicula.titulo}}</h2>
          </ion-row>
          <ion-row>
            <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{pelicula.fechaEstreno | fecha}})</p>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-card>