<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-row>
      <ion-col align-self-center>
        <ion-title>{{ 'PAGINAS.HOME.INICIO' | translate }}</ion-title>
      </ion-col>
      <ion-col style="text-align: right;">
        <button id="cart-btn" ion-button icon-only clear (click)="abrirRelacionesUsuarios()">
          <ion-icon style="padding-left: 0%;padding-right: 13px;" name="ios-contacts"></ion-icon>
          <ion-badge *ngIf="peticionesAmistadRecibidas != 0" id="cart-badge">{{peticionesAmistadRecibidas}}</ion-badge>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <elemento-timeline *ngFor="let elementoTimeLine of timeLineActual" [elemento] = elementoTimeLine></elemento-timeline>

  </ion-list>


  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando actividad antigua">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar color="transparent">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;" class="no-padding" col-3>
          <button ion-button icon-only clear (click)="recargarInicio()">
            <ion-icon style="padding: 0%;" name="ios-home-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col style="text-align: center;" class="no-padding" col-3>
          <button ion-button icon-only clear (click)="abrirPaginaPeliculas()">
            <ion-icon style="padding: 0%;" name="ios-film-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col style="text-align: center;" class="no-padding" col-3>
          <button ion-button icon-only clear (click)="abrirPaginaSeries()">
            <ion-icon style="padding: 0%;" name="ios-desktop-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col style="text-align: center;" class="no-padding" col-3>
          <button ion-button icon-only clear (click)="abrirPaginaJuegoRetos()">
            <ion-icon style="padding: 0%;" name="ios-game-controller-b-outline"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
