page-home {

  #cart-btn {
    position: relative;
    font-size: 1.5em;
  }

  #cart-badge {
    background-color: red;
    border-radius: 100%;
    position: absolute;
    font-size: 0.7em;
    top: 0px;
    right: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  ion-content{
    .scroll-content {
       border-top-width: 0px !important;
     }
   }
}
