<ion-header>
  <ion-navbar>
    <ion-title>Series</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar #busquedaSeries class="barraBusqueda" placeholder="Buscar serie por titulo o reparto"
    (ionClear)="limpiarFiltroBusquedaSerie($event)" style="height: 15px;" (ionInput)="buscarSeries($event)">
  </ion-searchbar>

  <ng-container *ngIf="serieBuscada.length >= 2 && serieBuscada != 'undefined'">
    <item-serie-buscada [serie]="serie" *ngFor="let serie of seriesBuscadas.seriesBuscadasList | paginate: { id:'seriesBuscadas' ,itemsPerPage: cuantasSeriesBuscadasPorPagina, currentPage: paginaSerieBuscada, totalItems: this.seriesBuscadas.cuantasSeriesEncontradas }"></item-serie-buscada>
  </ng-container>

  <h4 *ngIf="serieBuscada.length >= 2 && serieBuscada != 'undefined' && seriesBuscadas.cuantasSeriesEncontradas==0">
    No se han encontrado series.
  </h4>

  <ng-container *ngIf="(this.cuantasSeriesBuscadasPorPagina<this.seriesBuscadas.cuantasSeriesEncontradas) && serieBuscada.length >= 2" style="text-align: center;">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" id="seriesBuscadas"
      (pageChange)="cambiarPaginaSeriessBuscadas($event)"></pagination-controls>
  </ng-container>

  <ng-container *ngIf="serieBuscada.length < 2 || serieBuscada == 'undefined'">
    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col align-self-center class="no-padding" col-auto>
          <h3 style="margin: 0px;">Series Recomendadas</h3>
        </ion-col>
        <ion-col class="no-padding" col-auto>
          <ion-buttons end>
            <button clear ion-button icon-only (click)="traerSerieRecomendada()">
              <ion-icon name="md-refresh"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 *ngIf="serieRecomendada == null">
      No tiene series recomendadas.
    </h4>

    <ion-card *ngIf="serieRecomendada != null" (click)="abrirSerie(serieRecomendada)">
      <ion-grid class="no-padding">
        <ion-row class="no-padding">
          <ion-col class="no-padding" style="text-align: center;" col-6>
            <img imageViewer class="serie" [src]="serieRecomendada.poster | safe" />
          </ion-col>
          <ion-col col-6>
            <ion-grid>
              <ion-row class="no-padding">
                <h2 style="margin: 0px;">{{serieRecomendada.titulo}}</h2>
                <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{serieRecomendada.fechaEstreno | fecha}})
                </p>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>{{serieRecomendada.votacionMedia}}</h1>
                </ion-col>
                <ion-col>
                  <span class="cuantosUsuarios">{{serieRecomendada.numVotantes}}</span>
                  <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card>

    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col align-self-center class="no-padding" col-auto>
          <h3 style="margin: 0px;">Series Mejor Valoradas</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 *ngIf="serieMejorValorada == null">
      No hay series valoradas.
    </h4>

    <ion-card *ngIf="serieMejorValorada!= null">
      <ion-grid class="no-padding" (click)="abrirSerie(serieMejorValorada)">
        <ion-row class="no-padding">
          <ion-col class="no-padding" style="text-align: center;" col-6>
            <img imageViewer class="serie" [src]="serieMejorValorada.poster | safe" />
          </ion-col>
          <ion-col col-6>
            <ion-grid>
              <ion-row class="no-padding">
                <h2 style="margin: 0px;">{{serieMejorValorada.titulo}}</h2>
                <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{serieMejorValorada.fechaEstreno | fecha}})
                </p>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>{{serieMejorValorada.votacionMedia}}</h1>
                </ion-col>
                <ion-col>
                  <span class="cuantosUsuarios">{{serieMejorValorada.numVotantes}}</span>
                  <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="serieMejorValorada.miVoto>-1" text-center>
                <ion-col>
                  <h2>{{serieMejorValorada.miVoto}}</h2>
                </ion-col>
                <ion-col align-self-center>
                  <p style="margin:0px;">Tu voto medio</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button (click)="anteriorSiguienteSerieMejorValorada('anterior')" icon-start clear full  [disabled]="paginaSerieMejorValorada==0">
              <ion-icon name="md-arrow-round-back"></ion-icon>
              Anterior
            </button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="anteriorSiguienteSerieMejorValorada('siguiente')" icon-end clear full [disabled]="bloquearBotonSiguienteMejorValorada">
              Siguiente
              <ion-icon name="md-arrow-round-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>

    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col align-self-center class="no-padding" col-auto>
          <h3 style="margin: 0px;">Series Más Votadas</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 *ngIf="serieMasVotada == null">
      No hay series valoradas.
    </h4>

    <ion-card *ngIf="serieMasVotada!= null">
      <ion-grid class="no-padding" (click)="abrirSerie(serieMasVotada)">
        <ion-row class="no-padding">
          <ion-col class="no-padding" style="text-align: center;" col-6>
            <img imageViewer class="serie" [src]="serieMasVotada.poster | safe" />
          </ion-col>
          <ion-col col-6>
            <ion-grid>
              <ion-row class="no-padding">
                <h2 style="margin: 0px;">{{serieMasVotada.titulo}}</h2>
                <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{serieMasVotada.fechaEstreno | fecha}})
                </p>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>{{serieMasVotada.votacionMedia}}</h1>
                </ion-col>
                <ion-col>
                  <span class="cuantosUsuarios">{{serieMasVotada.numVotantes}}</span>
                  <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="serieMasVotada.miVoto>-1" text-center>
                <ion-col>
                  <h2>{{serieMasVotada.miVoto}}</h2>
                </ion-col>
                <ion-col align-self-center>
                  <p style="margin:0px;">Tu voto medio</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button (click)="anteriorSiguienteSerieMasVotada('anterior')" icon-start clear full  [disabled]="paginaSerieMasVotada==0">
              <ion-icon name="md-arrow-round-back"></ion-icon>
              Anterior
            </button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="anteriorSiguienteSerieMasVotada('siguiente')" icon-end clear full [disabled]="bloquearBotonSiguienteMasVotada">
              Siguiente
              <ion-icon name="md-arrow-round-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>

  </ng-container>

</ion-content>
