<ion-card style="margin-left: 0px;margin-right: 0px !important;margin-top: 0px !important;width: 100%;" class="no-padding">
  
  <ion-grid class="no-padding">
     <ion-row class="no-padding">
       <ion-col (click)="abrirSerie()" class="no-padding" col-4>
         <img class="serie" [src]="serie.poster | safe" />
       </ion-col>
       <ion-col style="padding-left: 5px!important;padding-right: 5px!important;" class="no-padding" col-8>
         <ion-grid class="no-padding">
           <ion-row (click)="abrirSerie()" class="no-padding">
             <div>
               <p class="titulo">
                 {{serie.titulo}}
                 <span class="fechaEstreno"> ({{serie.fechaEstreno |fecha}})</span>
               </p>
             </div>
           </ion-row>
           <ion-row (click)="abrirSerie()">
            <h3>{{serie.numTemporada | numeroTemporadaCapitulo}}x{{serie.numEpisodio | numeroTemporadaCapitulo}}
              {{serie.tituloEpisodio}}</h3>
          </ion-row>
           <ion-row (click)="abrirSerie()" *ngIf="serie.comentarioUsuario.length <= 70">
             <p style="margin-top: 10px;">{{serie.comentarioUsuario}}</p>
           </ion-row>
           <ion-row (click)="verComentarioCompleto()" *ngIf="serie.comentarioUsuario.length > 70">
             <p style="margin-top: 10px;">{{serie.comentarioUsuario | acortarComentarios}}<span style="margin-top: 0px; margin-bottom: 0px; color:blue!important;"> ...Leer más</span></p>
           </ion-row>
           <ion-row>
             <ion-col>
               <p class="fechaVotacion">
                 {{serie.fechaComentario | fecha}}
               </p>
             </ion-col>
           </ion-row>
         </ion-grid>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-card>