serie-comentada-de-un-usuario {
    .titulo{
        font-size: 15px;
    }

    .alineadoCentro {
        text-align: center;
    }

    .fechaEstreno{
        font-size: 13px
    }

    ion-card img{
        width: 110px;
    }

    .cuantosUsuarios{
        font-size: 11px;
    }

    .fechaVotacion{
        font-size: 11px;
        text-align: right;
    }

    .serie{
        height: 150px;
        min-width: 100px;
    }
}
