<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row>
        <ion-col align-self-center>{{username}}</ion-col>
        <ion-col style="text-align: right">
          <button ion-button item-end *ngIf="tipoUsuario == 'usuarioActual'" round (click)="irAEditarMiPerfil()">
            Editar
          </button>
          <button ion-button *ngIf="tipoUsuario == 'amigo'" color="danger" clear icon-only round
            (click)="eliminarAmistad()">
            <ion-icon name="ios-trash"></ion-icon>
          </button>
          <button ion-button *ngIf="tipoUsuario == 'peticionAmistadRecibida'" clear icon-only round
            (click)="aceptarDenegarPeticion('aceptarPeticion')">
            <ion-icon name="ios-checkmark-circle"></ion-icon>
          </button>
          <button ion-button *ngIf="tipoUsuario == 'peticionAmistadRecibida'" color="danger" clear icon-only round
            (click)="aceptarDenegarPeticion('rechazarPeticion')">
            <ion-icon name="ios-close-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row style="margin-bottom: 10px;">
    <ion-col align-self-center class="col-foto" col-4>
      <img imageViewer class="user-avatar round" width="95px" height="95px" [src]="avatar | safe" />
    </ion-col>
    <ion-col col-8 style="padding: 0px;">
      <ion-grid style="padding: 0px;">
        <ion-row>
          <p class="size-datosPerfilUsuario">Peliculas votadas: {{datosPerfilUsuario.numPeliculasVotadas}}</p>
        </ion-row>
        <ion-row>
          <p class="size-datosPerfilUsuario">Peliculas comentadas: {{datosPerfilUsuario.numPeliculasComentadas}}</p>
        </ion-row>
        <ion-row>
          <p class="size-datosPerfilUsuario">Media de votos Peliculas: {{datosPerfilUsuario.mediaVotosPeliculas}}</p>
        </ion-row>
        <ion-row>
          <p class="size-datosPerfilUsuario">Series votadas: {{datosPerfilUsuario.numSeriesVotadas}}</p>
        </ion-row>
        <ion-row>
          <p class="size-datosPerfilUsuario">Series comentadas: {{datosPerfilUsuario.numSeriesComentadas}}</p>
        </ion-row>
        <ion-row>
          <p class="size-datosPerfilUsuario">Media de votos Series: {{datosPerfilUsuario.mediaVotosSeries}}</p>
        </ion-row>
        <ion-row>
          <p style="margin-top: 0px; margin-bottom: 0px; color:blue!important;" (click)="irAlListadoDeAmigos()"
            onclass="size-datosPerfilUsuario">Número de amigos: {{datosPerfilUsuario.numAmigos}}</p>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-scroll id="scrollHorizontal" scrollX="true" style="height:9%; align-content: center; white-space: nowrap;">
    <button round round (click)="cambiarListadoDePeliculasSeries('pelisVotadas')"
      [outline]="botonSeleccionado==='pelisVotadas'?false:true" ion-button>Películas Votadas</button>
    <button round round (click)="cambiarListadoDePeliculasSeries('pelisComentadas')"
      [outline]="botonSeleccionado==='pelisComentadas'?false:true" ion-button>Películas Comentadas</button>
    <button round round (click)="cambiarListadoDePeliculasSeries('seriesVotadas')"
      [outline]="botonSeleccionado==='seriesVotadas'?false:true" ion-button>Series Votadas</button>
    <button round round (click)="cambiarListadoDePeliculasSeries('seriesComentadas')"
      [outline]="botonSeleccionado==='seriesComentadas'?false:true" ion-button>Series Comentadas</button>
  </ion-scroll>


  <ng-container *ngIf="botonSeleccionado=='pelisVotadas'">
    <ion-list style="margin-bottom: 0px;">
      <ion-item class="no-padding">
        <ion-label style="font-size: 14px;">{{ 'PAGINAS.PERFIL.ORDENAR_POR' | translate }}:</ion-label>
        <ion-select [(ngModel)]="ordenPeliculasVotadas" (ionChange)="cambiarOrdenListaPeliculasVotadas($event)"
          interface="popover">
          <ion-option selected="true" value="FechaVotacionDesc">Fecha: Más recientes primero</ion-option>
          <ion-option style="font-size: 14px !important;" value="FechaVotacionAsc">
            {{ 'PAGINAS.PERFIL.FECHA_VOTACION_ASC' | translate }}</ion-option>
          <ion-option value="VotacionDesc">{{ 'PAGINAS.PERFIL.VOTACION_DESC' | translate }}</ion-option>
          <ion-option value="VotacionAsc">{{ 'PAGINAS.PERFIL.VOTACION_ASC' | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h2 class="mensajeNoPeliculas" *ngIf="peliculasVotadas.length==0 && motrarMensajeNoHay">No hay votaciones.</h2>

    <ng-container
      *ngFor="let pelicula of peliculasVotadas | paginate: { id: username ,itemsPerPage: cuantaspeliculasVotadasPorPagina, currentPage: paginaPeliculasVotadas, totalItems: datosPerfilUsuario.numPeliculasVotadas }">
      <pelicula-de-un-usuario [pelicula]="pelicula"></pelicula-de-un-usuario>
    </ng-container>

    <ng-container *ngIf="!(peliculasVotadas.length==0 && motrarMensajeNoHay)" style="text-align: center;">
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" id="{{username}}"
        (pageChange)="cambiarPaginaPeliculasVotadas($event)"></pagination-controls>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="botonSeleccionado=='pelisComentadas'">
    <ion-list style="margin-bottom: 0px;">
      <ion-item class="no-padding">
        <ion-label style="font-size: 14px;">{{ 'PAGINAS.PERFIL.ORDENAR_POR' | translate }}:</ion-label>
        <ion-select [(ngModel)]="ordenPeliculasComentadas" (ionChange)="cambiarOrdenListaPeliculasComentadas($event)"
          interface="popover">
          <ion-option selected="true" value="FechaComentarioDesc">Fecha: Más recientes primero</ion-option>
          <ion-option style="font-size: 14px !important;" value="FechaComentarioAsc">
            {{ 'PAGINAS.PERFIL.FECHA_VOTACION_ASC' | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h2 class="mensajeNoPeliculas" *ngIf="peliculasComentadas.length==0 && motrarMensajeNoHay">No hay comentarios.</h2>

    <ng-container
      *ngFor="let pelicula of peliculasComentadas | paginate: { id: username + 'pelisComentadas' ,itemsPerPage: cuantaspeliculasComentadasPorPagina, currentPage: paginaPeliculasComentadas, totalItems: datosPerfilUsuario.numPeliculasComentadas }">
      <pelicula-comentada-de-un-usuario [pelicula]="pelicula"></pelicula-comentada-de-un-usuario>
    </ng-container>

    <ng-container *ngIf="!(peliculasComentadas.length==0 && motrarMensajeNoHay)" style="text-align: center;">
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true"
        id="{{username}}pelisComentadas" (pageChange)="cambiarPaginaPeliculasComentadas($event)"></pagination-controls>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="botonSeleccionado=='seriesVotadas'">
    <ion-list style="margin-bottom: 0px;">
      <ion-item class="no-padding">
        <ion-label style="font-size: 14px;">{{ 'PAGINAS.PERFIL.ORDENAR_POR' | translate }}:</ion-label>
        <ion-select [(ngModel)]="ordenSeriesVotadas" (ionChange)="cambiarOrdenListaSeriesVotadas($event)"
          interface="popover">
          <ion-option selected="true" value="FechaVotacionDesc">Fecha: Más recientes primero</ion-option>
          <ion-option style="font-size: 14px !important;" value="FechaVotacionAsc">
            {{ 'PAGINAS.PERFIL.FECHA_VOTACION_ASC' | translate }}</ion-option>
          <ion-option value="VotacionDesc">{{ 'PAGINAS.PERFIL.VOTACION_DESC' | translate }}</ion-option>
          <ion-option value="VotacionAsc">{{ 'PAGINAS.PERFIL.VOTACION_ASC' | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h2 class="mensajeNoPeliculas" *ngIf="seriesVotadas.length==0 && motrarMensajeNoHay">No hay votaciones.</h2>

    <ng-container
      *ngFor="let serie of seriesVotadas | paginate: { id: username + 'seriesVotadas',itemsPerPage: cuantasSeriesVotadasPorPagina, currentPage: paginaSeriesVotadas, totalItems: datosPerfilUsuario.numCapitulosSeriesVotados }">
      <serie-de-un-usuario [serie]="serie"></serie-de-un-usuario>
    </ng-container>

    <ng-container *ngIf="!(seriesVotadas.length==0 && motrarMensajeNoHay)" style="text-align: center;">
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" id="{{username}}seriesVotadas"
        (pageChange)="cambiarPaginaSeriesVotadas($event)"></pagination-controls>
    </ng-container>
  </ng-container>



  <ng-container *ngIf="botonSeleccionado=='seriesComentadas'">
    <ion-list style="margin-bottom: 0px;">
      <ion-item class="no-padding">
        <ion-label style="font-size: 14px;">{{ 'PAGINAS.PERFIL.ORDENAR_POR' | translate }}:</ion-label>
        <ion-select [(ngModel)]="ordenSeriesComentadas" (ionChange)="cambiarOrdenListaSeriesComentadas($event)"
          interface="popover">
          <ion-option selected="true" value="FechaComentarioDesc">Fecha: Más recientes primero</ion-option>
          <ion-option style="font-size: 14px !important;" value="FechaComentarioAsc">
            {{ 'PAGINAS.PERFIL.FECHA_VOTACION_ASC' | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h2 class="mensajeNoPeliculas" *ngIf="seriesComentadas.length==0 && motrarMensajeNoHay">No hay comentarios.</h2>

    <ng-container
      *ngFor="let serie of seriesComentadas | paginate: { id: username + 'seriesComentadas' ,itemsPerPage: cuantasSeriesComentadasPorPagina, currentPage: paginaSeriesComentadas, totalItems: datosPerfilUsuario.numCapitulosSeriesComentados }">
      <serie-comentada-de-un-usuario [serie]="serie"></serie-comentada-de-un-usuario>
    </ng-container>

    <ng-container *ngIf="!(seriesComentadas.length==0 && motrarMensajeNoHay)" style="text-align: center;">
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true"
        id="{{username}}seriesComentadas" (pageChange)="cambiarPaginaSeriesComentadas($event)"></pagination-controls>
    </ng-container>
  </ng-container>

</ion-content>
