page-perfil-usuario {
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
    margin-left: 5%;
  }

  ion-select {
    min-width: 73% !important;
    padding-left: 0px;
    font-size: 14px;
  }

  .size-datosPerfilUsuario {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
  }

  .mensajeNoPeliculas{
    color: color($colors, primary);
    text-align: center;
  }

  .item-inner{
    padding-right: 0px !important;
  }

  #scrollHorizontal .scroll-content {
    padding: 0px;
  }

}
