<ion-card style="margin-left: 0px;margin-right: 0px !important;margin-top: 0px !important;width: 100%;" class="no-padding" (click)="abrirPelicula()">
  <ion-grid class="no-padding">
    <ion-row class="no-padding">
      <ion-col class="no-padding" col-4>
        <img class="pelicula" [src]="pelicula.poster | safe" />
      </ion-col>
      <ion-col style="padding-left: 5px!important;padding-right: 5px!important;" class="no-padding" col-8>
        <ion-grid class="no-padding">
          <ion-row class="no-padding">
            <div>
              <p class="titulo">
                {{pelicula.titulo}}
                <span class="fechaEstreno"> ({{pelicula.fechaEstreno |fecha}})</span>
              </p>
            </div>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="fechaVotacion">
                {{pelicula.fechaVotoUsuario | fecha}}
              </p>
            </ion-col>
            <ion-col class="no-padding">
              <p style="width: 30px; height: 30px; border-style:solid;">
                {{pelicula.votoUsuario}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="no-padding">
              <p style="width: 30px; height: 30px; border-style:solid;">
                {{pelicula.votacionMedia}}
              </p>
            </ion-col>
            <ion-col class="no-padding">
              <span class="cuantosUsuarios">{{pelicula.numVotantes}}</span>
              <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="pelicula.fechaTuVoto != null && pelicula.tuVoto != -1">
            <ion-col col-auto>
              <p class="fechaVotacion">Tu voto:</p>
            </ion-col>
            <ion-col col-auto class="no-padding">
              <p style="width: 30px; height: 30px; border-style:solid;">
                {{pelicula.tuVoto}}
              </p>
            </ion-col>
            <ion-col col-auto>
              <p class="fechaVotacion">
                {{pelicula.fechaTuVoto | fecha}}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
