<ion-card style="margin-left: 0px;margin-right: 0px !important;margin-top: 0px !important;width: 100%;" class="no-padding" (click)="abrirSerie()">
  <ion-grid class="no-padding">
    <ion-row class="no-padding">
      <ion-col class="no-padding" col-4>
        <img class="serie" [src]="serie.poster | safe" />
      </ion-col>
      <ion-col style="padding-left: 5px!important;padding-right: 5px!important;" class="no-padding" col-8>
        <ion-grid class="no-padding">
          <ion-row class="no-padding">
            <div>
              <p class="titulo">
                {{serie.titulo}}
                <span class="fechaEstreno"> ({{serie.fechaEstreno |fecha}})</span>
              </p>
              <p class="titulo">
                {{serie.numTemporada | numeroTemporadaCapitulo}}x{{serie.numEpisodio | numeroTemporadaCapitulo}}
                    {{serie.tituloEpisodio}}
              </p>
            </div>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="fechaVotacion">
                {{serie.fechaVotoUsuario | fecha}}
              </p>
            </ion-col>
            <ion-col class="no-padding">
              <p style="width: 30px; height: 30px; border-style:solid;">
                {{serie.votoUsuario}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="no-padding">
              <p style="width: 30px; height: 30px; border-style:solid;">
                {{serie.votacionMedia}}
              </p>
            </ion-col>
            <ion-col class="no-padding">
              <span class="cuantosUsuarios">{{serie.numVotantes}}</span>
              <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="serie.fechaTuVoto != null && serie.tuVoto != -1">
            <ion-col col-auto>
              <p class="fechaVotacion">Tu voto:</p>
            </ion-col>
            <ion-col col-auto class="no-padding">
              <p style="width: 30px; height: 30px; border-style:solid;">
                {{serie.tuVoto}}
              </p>
            </ion-col>
            <ion-col col-auto>
              <p class="fechaVotacion">
                {{serie.fechaTuVoto | fecha}}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

