<!--
  Generated template for the ListadoAmigosUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Amigos de {{amigoUsername}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngFor="let amigo of listadoAmigos| paginate: { id: 'paginatorListadoAmigos' ,itemsPerPage: cuantosAmigosPorPagina, currentPage: paginaListadoAmigos, totalItems: cuantosAmigosTiene }">

    <item-busqueda-usuario *ngIf="amigo.tipo == 'usuario'" [usuario]="amigo" (peticionEnviadaEmitter)="obtenerListadoDeAmigos()">
    </item-busqueda-usuario>

    <peticion-amistad-recibida *ngIf="amigo.tipo == 'peticionAmistadRecibida'" [peticion]="amigo" (aceptadaRechazadaEmitter)="obtenerListadoDeAmigos()">
    </peticion-amistad-recibida>

    <peticion-amistad-enviada *ngIf="amigo.tipo == 'peticionAmistadEnviada'" [peticion]="amigo" (canceladaEmitter)="obtenerListadoDeAmigos()">
    </peticion-amistad-enviada>

    <item-amigo *ngIf="amigo.tipo == 'amigo'" [amistad]="amigo" (amistadEliminadaEmitter)="obtenerListadoDeAmigos()"></item-amigo>

    <item-propio-usuario *ngIf="amigo.tipo == 'usuarioMismo'" [peticion]="amigo"></item-propio-usuario>
    
  </ng-container>

  <ng-container *ngIf="cuantosAmigosTiene>cuantosAmigosPorPagina" style="text-align: center;">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" id="paginatorListadoAmigos"
      (pageChange)="cambiarPaginaListadoAmigos($event)"></pagination-controls>
  </ng-container>
</ion-content>
