<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <ng-container>
              <img menuClose class="user-avatar round" (click)="irPerfil()" width="100px" height="100px" [src]="userSession.avatar | safe" />
            </ng-container>
          </ion-col>
          <ion-col align-self-center>
            <div menuClose (click)="irPerfil()">
              <h1>{{userSession.username}}</h1>
            </div>
            <div>
              <button class="btnCerrarSesion" menuClose (click)="cerrarSesion()">
                {{'PAGINAS.MENU.CERRAR_SESION' | translate}}
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="listaMenu">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="iconoItemsMenu" name="{{p.icono}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
