// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.normalToast {
  .toast-message {
    background: color($colors, primary);
    text-align: center;
  }
}

.iconoItemsMenu {
  color: color($colors, primary);
  margin-right: 20px;
  font-size: 25px;
}

.listaMenu {
  margin-top: 13px;
  margin-left: 10px;
}

.listaMenu .item-block .item-inner {
  border-bottom-width: 0px;
}

.errorToast {
  .toast-message {
    background: color($colors, danger);
    text-align: center;
  }
}

.user-avatar {
  padding: .0em;
}

.round {
  border-radius: 50%;
}

.btnCerrarSesion {
  padding-left: 0px;
  background-color: transparent;
}

.no-padding {
  padding: 0px !important;
}

.item-radio.item ion-label {
  font-size: 14px;
}

.ngx-pagination {
  padding-left: 0px !important;
  text-align: center !important;
}

.miAlerta .alert-wrapper .alert-message {
  max-height: none;
}


