page-peliculas {
    ion-searchbar {
        .searchbar-input {
          border-radius: 30px !important;
          padding-bottom: 0px !important;
          padding-top: 0px !important;
          padding-left: 17% !important;
          padding-right: 15% !important;
        }
      }
    
      ion-searchbar {
        .searchbar-search-icon {
          left: 3.5% !important;
          top: 20% !important;
        }
      }
    
      .barraBusqueda {
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 10%;
        margin-top: 3%;
      }
    
    
      ion-searchbar {
        .searchbar-clear-icon {
          right: 2% !important;
        }
      }
    
      .tituloCategoria {
        margin-bottom: 0px;
        padding-top: 5px;
      }

      .pelicula{
        height: 231px;
      }
}
