<ion-header>
  <ion-navbar>
    <ion-title>Películas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar #busquedaPeliculas class="barraBusqueda" placeholder="Buscar película por titulo o reparto"
    (ionClear)="limpiarFiltroBusquedaPelicula($event)" style="height: 15px;" (ionInput)="buscarPeliculas($event)">
  </ion-searchbar>

  <ng-container *ngIf="peliculaBuscada.length >= 2 && peliculaBuscada != 'undefined'">
    <item-pelicula-buscada [pelicula]="pelicula" *ngFor="let pelicula of peliculasBuscadas.peliculaBuscadaList | paginate: { id:'peliculasBuscadas' ,itemsPerPage: cuantasPeliculasBuscadasPorPagina, currentPage: paginaPeliculaBuscada, totalItems: this.peliculasBuscadas.cuantasPeliculasEncontradas }"></item-pelicula-buscada>
  </ng-container>

  <h4 *ngIf="peliculaBuscada.length >= 2 && peliculaBuscada != 'undefined' && peliculasBuscadas.cuantasPeliculasEncontradas==0">
    No se han encontrado peliculas.
  </h4>

  <ng-container *ngIf="(this.cuantasPeliculasBuscadasPorPagina<this.peliculasBuscadas.cuantasPeliculasEncontradas) && peliculaBuscada.length >= 2" style="text-align: center;">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" responsive="true" id="peliculasBuscadas"
      (pageChange)="cambiarPaginaPeliculasBuscadas($event)"></pagination-controls>
  </ng-container>

  <ng-container *ngIf="peliculaBuscada.length < 2 || peliculaBuscada == 'undefined'">
    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col align-self-center class="no-padding" col-auto>
          <h3 style="margin: 0px;">Películas Recomendadas</h3>
        </ion-col>
        <ion-col class="no-padding" col-auto>
          <ion-buttons end>
            <button clear ion-button icon-only (click)="traerPeliculaRecomendada()">
              <ion-icon name="md-refresh"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 *ngIf="peliculaRecomendada == null">
      No tiene películas recomendadas.
    </h4>

    <ion-card *ngIf="peliculaRecomendada != null" (click)="abrirPelicula(peliculaRecomendada)">
      <ion-grid class="no-padding">
        <ion-row class="no-padding">
          <ion-col class="no-padding" style="text-align: center;" col-6>
            <img imageViewer class="pelicula" [src]="peliculaRecomendada.poster | safe" />
          </ion-col>
          <ion-col col-6>
            <ion-grid>
              <ion-row class="no-padding">
                <h2 style="margin: 0px;">{{peliculaRecomendada.titulo}}</h2>
                <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{peliculaRecomendada.fechaEstreno | fecha}})
                </p>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>{{peliculaRecomendada.votacionMedia}}</h1>
                </ion-col>
                <ion-col>
                  <span class="cuantosUsuarios">{{peliculaRecomendada.numVotantes}}</span>
                  <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-card>

    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col align-self-center class="no-padding" col-auto>
          <h3 style="margin: 0px;">Películas Mejor Valoradas</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 *ngIf="peliculaMejorValorada == null">
      No hay peliculas valoradas.
    </h4>

    <ion-card *ngIf="peliculaMejorValorada!= null">
      <ion-grid class="no-padding" (click)="abrirPelicula(peliculaMejorValorada)">
        <ion-row class="no-padding">
          <ion-col class="no-padding" style="text-align: center;" col-6>
            <img imageViewer class="pelicula" [src]="peliculaMejorValorada.poster | safe" />
          </ion-col>
          <ion-col col-6>
            <ion-grid>
              <ion-row class="no-padding">
                <h2 style="margin: 0px;">{{peliculaMejorValorada.titulo}}</h2>
                <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{peliculaMejorValorada.fechaEstreno | fecha}})
                </p>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>{{peliculaMejorValorada.votacionMedia}}</h1>
                </ion-col>
                <ion-col>
                  <span class="cuantosUsuarios">{{peliculaMejorValorada.numVotantes}}</span>
                  <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="peliculaMejorValorada.fechaMiVoto!=null" text-center>
                <ion-col>
                  <h2>{{peliculaMejorValorada.miVoto}}</h2>
                </ion-col>
                <ion-col align-self-center>
                  <p style="margin:0px;">Tu voto</p>
                  <p style="margin:0px; font-size: 11px">({{peliculaMejorValorada.fechaMiVoto | fecha}})</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button (click)="anteriorSiguientePeliculaMejorValorada('anterior')" icon-start clear full  [disabled]="paginaPeliculaMejorValorada==0">
              <ion-icon name="md-arrow-round-back"></ion-icon>
              Anterior
            </button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="anteriorSiguientePeliculaMejorValorada('siguiente')" icon-end clear full [disabled]="bloquearBotonSiguienteMejorValorada">
              Siguiente
              <ion-icon name="md-arrow-round-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>

    <ion-grid class="no-padding">
      <ion-row class="no-padding">
        <ion-col align-self-center class="no-padding" col-auto>
          <h3 style="margin: 0px;">Películas Más Votadas</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4 *ngIf="peliculaMasVotada == null">
      No hay peliculas valoradas.
    </h4>

    <ion-card *ngIf="peliculaMasVotada!= null">
      <ion-grid class="no-padding" (click)="abrirPelicula(peliculaMasVotada)">
        <ion-row class="no-padding">
          <ion-col class="no-padding" style="text-align: center;" col-6>
            <img imageViewer class="pelicula" [src]="peliculaMasVotada.poster | safe" />
          </ion-col>
          <ion-col col-6>
            <ion-grid>
              <ion-row class="no-padding">
                <h2 style="margin: 0px;">{{peliculaMasVotada.titulo}}</h2>
                <p style="margin: 0px; margin-bottom: 10px!important;" class="fechaVotacion">({{peliculaMasVotada.fechaEstreno | fecha}})
                </p>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>{{peliculaMasVotada.votacionMedia}}</h1>
                </ion-col>
                <ion-col>
                  <span class="cuantosUsuarios">{{peliculaMasVotada.numVotantes}}</span>
                  <ion-icon class="cuantosUsuarios" name="md-people"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="peliculaMasVotada.fechaMiVoto!=null" text-center>
                <ion-col>
                  <h2>{{peliculaMasVotada.miVoto}}</h2>
                </ion-col>
                <ion-col align-self-center>
                  <p style="margin:0px;">Tu voto</p>
                  <p style="margin:0px; font-size: 11px">({{peliculaMasVotada.fechaMiVoto | fecha}})</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button (click)="anteriorSiguientePeliculaMasVotada('anterior')" icon-start clear full  [disabled]="paginaPeliculaMasVotada==0">
              <ion-icon name="md-arrow-round-back"></ion-icon>
              Anterior
            </button>
          </ion-col>
          <ion-col>
            <button ion-button (click)="anteriorSiguientePeliculaMasVotada('siguiente')" icon-end clear full [disabled]="bloquearBotonSiguienteMasVotada">
              Siguiente
              <ion-icon name="md-arrow-round-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>

  </ng-container>
</ion-content>
