 <ion-card>
   <ion-grid>
     <ion-row>
       <ion-col col-auto align-self-center (click)="irAPerfil()">
         <img class="imagenAvatar round" width="50px" height="50px" [src]="amistad.avatar | safe" />
       </ion-col>
       <ion-col style="padding-left: 5%;" align-self-center (click)="irAPerfil()">
         {{amistad.username}}
       </ion-col>
       <ion-col col-3 align-self-center class="alineadoCentro">
         <button ion-button color="danger" clear icon-only round (click)="eliminarAmistad()">
           <ion-icon name="ios-trash"></ion-icon>
         </button>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-card>
