peticion-amistad-enviada {
    .alineadoCentro {
        text-align: center;
      }
    
      .alineadoDerecha {
        text-align: right;
      }
    
      .botonIcono {
        width: 35px;
      }
    
      .imagenAvatar {
        width: 50px !important;
        height: 50px !important;
        border-style: solid;
        border-width: 1px;
        border-color: grey;
      }
}
