<ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-auto align-self-center (click)="mostrarAlerta()">
        <img class="imagenAvatar round" width="50px" height="50px" [src]="peticion.avatar | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center (click)="mostrarAlerta()">
        {{peticion.username}}
      </ion-col>
      <ion-col col-3 align-self-center class="alineadoCentro">
        <button class="botonIcono" ion-button color="danger" clear icon-only round
          (click)="cancelarPeticion()">
          <ion-icon name="ios-close-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
