<ion-card>
  <ion-grid>
    <ion-row (click)="irAPerfil()">
      <ion-col col-auto align-self-center>
        <img class="imagenAvatar round" width="50px" height="50px" [src]="amigoQueHaComentado.avatar | safe" />
      </ion-col>
      <ion-col style="padding-left: 5%;" align-self-center>
        {{amigoQueHaComentado.username}}
      </ion-col>
      <ion-col col-3 align-self-center class="alineadoCentro"></ion-col>
    </ion-row>
    <ion-row *ngIf="amigoQueHaComentado.comentario.length <= 20">
      <p style="margin-top: 10px;">{{amigoQueHaComentado.comentario}}</p>
    </ion-row>
    <ion-row (click)="verComentarioCompleto()" *ngIf="amigoQueHaComentado.comentario.length > 20">
      <p style="margin-top: 10px;">{{amigoQueHaComentado.comentario | acortarComentarios}}<span style="margin-top: 0px; margin-bottom: 0px; color:blue!important;"> ...Leer más</span></p>
    </ion-row>
  </ion-grid>
</ion-card>
