<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="col-foto" col-12 text-center>
      <ng-container>
        <img class="user-avatar round" width="100px" height="100px" [src]="avatar | safe" />
      </ng-container>
      <button class="boton-foto" ion-button color="transparent" (click)="abirDialogoModificarFoto()">
        <ion-icon style="font-size: 30px;" name="image" md="ios-image"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <form novalidate (ngSubmit)="doSignup()" [formGroup]="signupform">
    <ion-list>
      <ion-item>
        <ion-label stacked>{{ 'USERNAME' | translate }}</ion-label>
        <!-- <ion-input type="text" [(ngModel)]="account.username" name="username" formControlName="username"
          [class.error1]="!signupform.controls.username.valid && signupform.controls.username.dirty"></ion-input> -->
        <ion-input type="text" [(ngModel)]="account.username" name="username" formControlName="username" placeholder="{{ 'PAGINAS.REGISTRO.PLACEHOLDER_USUARIO' | translate }}"></ion-input>
      </ion-item>
      <ion-item no-lines
        *ngIf="( signupform.get('username').hasError('minlength') || signupform.get('username').hasError('maxlength') ||signupform.get('username').hasError('pattern') ||signupform.get('username').hasError('required') ) && signupform.get('username').touched">
        <div class="error"
          *ngIf="signupform.get('username').hasError('required') && signupform.get('username').touched">
          {{ 'PAGINAS.REGISTRO.NOMBRE_USUARIO' | translate }}
        </div>
        <div class="error" *ngIf="signupform.get('username').hasError('pattern') && signupform.get('username').touched">
          {{ 'PAGINAS.REGISTRO.USERNAME_INVALIDO' | translate }}
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" formControlName="email" placeholder="{{ 'PAGINAS.REGISTRO.PLACEHOLDER_EMAIL' | translate }}"></ion-input>
      </ion-item>

      <ion-item no-lines
        *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
        <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
          {{ 'PAGINAS.REGISTRO.INTRODUZCA_EMAIL' | translate }}
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
          {{ 'PAGINAS.REGISTRO.EMAIL_INVALIDO' | translate }}
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" formControlName="password" placeholder="{{ 'PAGINAS.REGISTRO.PLACEHOLDER_PASS' | translate }}"></ion-input>
      </ion-item>
      <ion-item no-lines
        *ngIf="( signupform.get('password').hasError('pattern') || signupform.get('password').hasError('required') ) && signupform.get('password').touched">
        <div class="error"
          *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
          {{ 'PAGINAS.REGISTRO.PASS_USUARIO' | translate }}
        </div>
        <div class="error"
          *ngIf="signupform.get('password').hasError('pattern') && signupform.get('password').touched">
          {{ 'PAGINAS.REGISTRO.PASSWORD_PATTERN' | translate }}
        </div>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ 'REPETIR_PASS' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="repetirPass" name="repetirPass" formControlName="repetirPass" placeholder=""></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block
          [disabled]="signupform.invalid">{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
