item-serie-buscada {
    .titulo {
        font-size: 15px;
      }
    
      .alineadoCentro {
        text-align: center;
      }
    
      .fechaEstreno {
        font-size: 13px
      }
    
      ion-card img {
        width: 110px;
      }
    
      .cuantosUsuarios {
        font-size: 11px;
      }
    
      .fechaVotacion {
        font-size: 11px;
      }
    
      .serie {
        height: 100px !important;
        width: 70px !important;
      }
}
